<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Tec News">
    <meta name="keywords" content="HTML,Web,Noticias">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Noticas Tec</title>
    {% load static %}
    <script src="{% static 'website/script/singlepage.js' %}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    {% load static %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'website/imagens/icon.svg' %}" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'website/css/base.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
     div {display:none; }


        #botaoSubmit {
            width: 330px;
            height: 25px;
            border-right: seagreen 2px solid;
            box-shadow: 2px 2px 5px black;
        }

        .carrosel {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .carrosel img {
            border-right: aqua solid 1px;
            width: 30%;
            animation-name: animacaoEspecial;
            animation-duration: 6s;
        }

        /* Animacao */
        @keyframes animacaoEspecial {
            25% {
                width: 10%;
            }

            100% {
                font-size: 20px;
                justify-content: stretch;
            }
        }
    </style>
</head>

<body>

    <header>
        <figure class="header_animacao">
            {% load static %}
            <img src="{% static 'website/imagens/header_imagem.svg' %}">
        </figure>

        <figure class="imagemDecorada">
            {% load static %}
            <img src="{% static 'website/imagens/imagemCool.jpg' %}">
        </figure>

        <nav>
            <ul>
                    <li>
                        <a data-section="login" class="about">
                    <i class="fa fa-key" style="font-size:24px;"></i>Fazer Login</a></li>

                <li>
                    <a data-section="home" class="home">
                        <i class="fa fa-home" style="font-size:24px;"></i>
                        Home</a></li>
                <li>
                    <a href="#" class="categoria">
                          <i class="fa fa-newspaper-o" style="font-size:24px;"></i>
                        Categorias </a>
                    <ul>
                        <li><a data-section="apple" class="apple">
                            <i class="fa fa-apple" style="font-size:24px;"></i>
                            Apple</a></li>
                        <li><a data-section="linux" class="linux">
                             <i class="fa fa-linux" style="font-size:24px;"></i>
                            Linux</a></li>
                        <li><a data-section="windows" class="windows">
                             <i class="fa fa-windows" style="font-size:24px;"></i>
                            Windows</a></li>
                    </ul>
                </li>
                <li><a data-section="contactos" class="comments">
                     <i class="fa fa-address-book-o" style="font-size:24px;"></i>Contactos</a></li>
                <li><a data-section="quizz" class="comments">
                    <i class="fa fa-check-square-o" style="font-size:24px;"></i>Quizz</a></li>
                <li><a data-section="comentario" class="comments">
                    <i class="fa fa-commenting" style="font-size:24px;"></i>Comentarios</a></li>
                <li><a data-section="about" class="about">
                    <i class="fa fa-info-circle fa-pulse" style="font-size:24px;"></i>About</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block main %}
        <!--
        <section>
            <picture>
                <section class="carrosel">
                    <section>
                        {% load static %}
                        <img src="{% static 'website/imagens/galeria/androidGaleria.jpg' %}">
                        <img src="{% static 'website/imagens/galeria/linux.jpg' %}">
                        <img src="{% static 'website/imagens/galeria/apple.jpg' %}">
                    </section>
                </section>
            </picture>
        </section>

        <section>
    {% for ntc in lista_noticias %}
        </section>
        <ul>
                     <li>
                        <a href="{%  url 'tec_noticias:VerNoticia' ntc.id %}">
                            <h2>
                                <i class="material-icons" style="font-size:36px">{{ ntc.categoria.icon }}</i><br>
                               {{ ntc.titulo }}
                            </h2>
                            <p>{{ ntc.autor }}</p>
                            <br>
                            <figure>
                              <img src={{ntc.imagem}} style="width:50%">
                            </figure>
                            <br>
                            <p>{{ ntc.sinopse }}
                            </p>
                        </a>
                    </li>
               {% endfor %}
        </ul>-->
        {% endblock main %}
    </main>

    <aside>

                     {% if request.user.username %}
                        <h3>ola {{ user.username }}</h3><br>
                        <button type="button" class="btn btn-danger">
                            <a href="{% url 'tec_noticias:logout' %}">Logout</a></button><br>
                        {% else %}
                        <p>Faço Login sff</p>
                    {% endif %}


        <iframe width="350" height="250" src="https://www.youtube.com/embed/hwnP6WSmGhA" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <!-- formulario-->
        <form action="mailto:email@yourdomain.com" method="POST">
            <label>
                Email para notificações
                <input type="text">
            </label><br>
            <input id="botaoSubmit" type="submit">
        </form>
        <!-- foto estilosa-->
        <figure class="imagemDecorada2">
        {% load static %}
        <img src="{% static 'website/imagens/imagemCool2.jpg' %}">
        </figure>
        <!-- Mais recentes-->
        <ul>
            <p>Noticias mais recentes:</p><br>
            <li> <a style="color:white"
                    href="https://pplware.sapo.pt/microsoft/windows/dica-pesquisar-por-imagens-no-windows-10-siga-estes-passos/">
                    Pesquisade imagens windows</a></li>
            <li> <a style="color:white"
                    href="https://pplware.sapo.pt/truques-dicas/dica-como-saber-o-historico-das-atualizacoes-do-windows-10-rapidamente/">
                    Historico de atualizacoes</a>
            </li>
            <li> <a style="color:white"
                    href="https://pplware.sapo.pt/linux/systemrescuecd-8-0-o-linux-que-pode-salvar-o-windows/">teste
                    ferramenta Linux SystemRescueCD</a></li>
            <li> <a style="color:white"
                    href="https://pplware.sapo.pt/smartphones-tablets/procura-um-iphone-12-iservices-ja-vende-recondicionados/">
                    Iphone 12 - Iservices
                </a>
            </li>
        </ul>
    </aside>

    <footer>
        <!-- Word cloud-->
        <svg width="500" height="300">
            {% load static %}
            <img src="{% static 'website/imagens/wordcloud.jpg' %}" height="90%">
            </image>
            <!-- Outras Paginas-->
            <a href="index.html">
                <rect x="100" y="53" width="86" height="22" style="fill-opacity:0.1" />
            </a>
            <a href="../paginas/linuxNews.html">
                <rect x="100" y="83" width="86" height="22" style="fill-opacity:0.1" />
            </a>

            <a href="../paginas/appleNews.html">
                <rect x="100" y="120" width="86" height="22" style="fill-opacity:0.1" />
            </a>

            <a href="../paginas/androidNews.html">
                <rect x="110" y="160" width="95" height="54" style="fill-opacity:0.1" />
            </a>

            <a href="../paginas/comentario.html">
                <rect x="215" y="118" width="25" height="158" style="fill-opacity:0.1" />
            </a>

            <a href="../paginas/adicionar.html">
                <rect x="246" y="149" width="100" height="75" style="fill-opacity:0.1" />
            </a>

            <a href="../paginas/windowsNews.html">
                <rect x="246" y="230" width="108" height="25" style="fill-opacity:0.1" />
            </a>

            <a href="../paginas/about.html">
                <text x="280" y="120" fill="blue">About</text></a>
        </svg>
    </footer>
</body>

</html>