{% extends 'website/base.html' %}

{% block main %}
<div id="about"></div>
<div id="home"></div>
<div id="quizz"></div>
<div id="comentario"></div>
<div id="login"></div>
<div id="contactos"></div>
<div id="apple"></div>
<div id="linux"></div>
<div id="windows"></div>
<div id="conteudo">
    <h2 id="noticia_titulo"></h2>
    <h3 id="noticia_data_autor"></h3>
    <img id="noticia_imagem">
    <p id="noticia_texto"></p>
    <form method="POST" id="post-form">
        {% csrf_token %}
        <script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        </script>
        <label>
            Autor
            <input type="text" id="author" required>
        </label><br>
        <label>
            Comentario
            <input type="text" id="commentText" required>
        </label><br>
        <input type="submit" value="Post">
    </form>
    <p> ---- Comentarios - -- -- </p>
        <ul id="Comment"></ul>
</div>
<!-- Imagem do resultado do quizz gerado por matplotlib -->
<figure id="fig_quizz" style="display: {{ quizz_visible }}">
    <h1 style="display: {{ quizz_visible }}">Resultados do Quizz:</h1>
    {% load static %}
    <img src="{% static 'website/imagens/plot.png' %}">

    {% if pontos < 50 %}
    <p style="color:red;"> 🔵 🔺 Teve {{ pontos }} pontos no total 😢</p>
    {% else %}
    <p style="color:green;"> 🔵 🔺 Teve {{ pontos }} pontos no total 😉 😎</p>
    {% endif %}
</figure>
<!-- Imagem do resultado do comentario gerado por matplotlib -->
<figure id="fig_coments" style="display: {{ comment_visible }}">
    {% load static %}
    <img src="{% static 'website/imagens/plot_comentario.png' %}">
</figure>
{% endblock %}