<h1>Login</h1>
<form action="{% url 'tec_noticias:login' %}" method="post">
            {% csrf_token %}
    <label for="user">Username</label>
    <input type="text" class="table-danger" placeholder="Insira o username..." id="user" name="username"><br>
    <label for="pwd">Password:</label>
    <input type="password" class="table-success" placeholder="Insira a Password" id="pwd" name="password"><br>
    <div class="spinner-border text-danger"></div><br>
  <button type="submit" class="btn btn-primary">Login</button>
</form>

    {% if message %}
        <div> {{ message }} </div>
    {% endif %}

